@font-face {
    font-family: KozMinPro-Medium;
    src: url('../KozMinPro-Medium_font/KozMinPro-Medium.otf');
  }

#Middle-allsection {
        width: calc(80% - 70px);
        margin-left: 20%;
        background-color: #93C4C6
    }

    #Middle-allsection_bg1 {
        width: 100%;
        margin-top: -9vw;
        position: relative;
    }

    #banner {
        width: 100%;
        height: 30vw;
        background-image: url('../index_C_img/0-體驗分頁-banner.jpg');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #middle_con {
        width: 27.1vw;
        position: absolute;
        right: 6.51vw;
        top: 5vw;
    }

    #middle_con_bg {
        position: relative;
        margin-bottom: 1.56vw;
    }

    #middle_con_bg>span {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3.8vw;
        font-family: 'KozMinPro-Medium';
        color: #3A3A3A;

        width: 100%;
        text-align: center;
    }

    #middle_con>span {
        font-size: 1.38vw;
        font-family: 'KozMinPro-Medium';
        color: #444444;
        line-height: 2.09vw;
        font-weight: bold;
    }

    #Middle_section1 {
        width: 100%;
        padding: 0 8.333333333vw;
        margin-top: -6vw;
        background-color: #93C4C6;
    }

    #Middle_section1_container {
        width: 100%;
    }

    .container {
        width: 100%;
        max-width: 985px;
        background-color: #93C4C6;
        margin: auto;
    }

    .section-group {
        width: 100%;
    }

    .section-1,
    .section-3,
    .section-5,
    .section-7,
    .section-9,
    .section-2,
    .section-4,
    .section-6,
    .section-8 {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;

        padding-bottom: 80px;
    }

    .step {
        position: absolute;
        bottom: 15%;

        color: white;
        font-family: 'Lucida Bright'
    }

    .step span:first-of-type {
        font-size: 60px;
    }

    .step span:last-of-type {
        font-size: 175px;
    }

    .stepleft {
        left: 2%;
    }

    .stepright {
        right: 1%;
    }

    .row {
        flex-direction: row;
    }

    .image {
        width: 400px;
    }

    .txt {
        width: 285px;
        color: white;
        font-size: 15px;
        font-family: KozMinPro-Medium;
        line-height: 1.5;
    }

    .txtleft {
        margin-left: 40px;
    }

    .txtright {
        margin-right: 40px;
    }

    .section-1,
    .section-3,
    .section-5,
    .section-7,
    .section-9 {
        padding-left: 50px;
    }

    .section-2,
    .section-4,
    .section-6,
    .section-8 {
        flex-direction: row-reverse;
        padding-right: 50px;
    }

    @media(max-width: 1420px) {
        .container {
            width: 100%;
        }
        .txtleft {
            margin-left: 3vw;
        }
        .txtright {
            margin-right: 3vw;
        }
    }

    @media(max-width: 920px) {
        #Middle-allsection {
            width: 100%;
            margin-left: 0;
        }
        .container {
            width: 100%;
        }
        
        #Middle-allsection_bg1 {
            margin-top: -12vw;
        }
        #middle_con {
            width: 30vw;
            position: absolute;
            right: 8.5vw;
            top: 7vw;
        }
        #middle_con>span {
            font-size: 1.8vw;
            font-family: 'KozMinPro-Medium';
            color: #444444;
            line-height: 1.5;
            font-weight: bold;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
        }
        .section-group {
            width: 100%;
            height: unset;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .section-1,
        .section-3,
        .section-5,
        .section-7,
        .section-9,
        .section-2,
        .section-4,
        .section-6,
        .section-8 {
            width: 100%;
            height: unset;
            display: flex;
            flex-direction: column;

            padding-left: unset;
            padding-right: unset;

            padding-bottom: 10.8vw;

            position: relative;
        }

        .image {
            width: 100%;
        }
        .image img{
            width: 100%;
        }
        .step span:first-of-type {
            font-size: 16.3vw;
        }
        .step span:last-of-type {
            font-size: 23.9vw;
        }
        .step {
            width: unset;
            height: unset;
            left: 0%;
            right: unset;
            bottom: unset;
            top: 29.7vw;
            z-index: 5;

            position: absolute;
        }

        .txt {
            width: 100%;
            margin-left: unset;
            margin-right: unset;
        }

        .txt h2 {
            text-align: right;
            font-size: 3.26vw;
            margin: 0;
            line-height: 1;
            margin-top: 10%;
        }
        .txt p {
            margin-top: 35px;
            margin-bottom: 0;
            font-size: 2.3vw;
        }
        #Middle_section1 {
            padding: 0 15%;
            margin-top: -5vw;
        }
    }
    @media(max-width:420px){
        #Middle_section1 {
            padding: 0px 10%;
        }
        #middle_con>span {
            font-size: 1.8vw;
            -webkit-line-clamp: 3;
        }
        .step {
            top: 38.7vw;
        }
    }
    @media(max-width:920px){
        #Middle_allsection {
            width: 100%;
            margin-left: 0;
            padding-top: 70px;
        }
        #banner {
            height: 40vw;
        }
    }
    @media(max-width:720px){
        #Middle-allsection {
            padding-top: 60px;
        }
    }
    @media(max-width:520px){
        #Middle-allsection {
            padding-top: 50px;
        }
    }
    @media(max-width:320px){
        #Middle-allsection {
            padding-top: 40px;
        }
    }