#Middle_section1-3{
    width: 100%;
    background-color: #BDA591;
}
#Middle_section1-3_1420{
    display: none;
    width: 100%;
    background-color: #BDA591;
}
#Middle_section1-3_920{
    width: 100%;
    background-color: #BDA591;
    display: none;
}
#Middle_section1-3_container{
    width: 100%;
    height: 100%;
    padding: 70px 8.333333333vw;
}
#M_sec1-3_top{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
#M_sec1-3_top_img{
    width: 25%;
    margin-right: 50px;
}
.M_sec1-3_top_imgset{
    width: 100%;
}
#M_sec1-3_top_font{
    display: flex;
    flex-direction: column;
    width: 55%;
    overflow: hidden;
}
.Middle_section1-3_title_fontset{
    position: relative;
}
.Middle_section1-3_title_fontset::after{
    position: absolute;
    content: '________________________________________________________________';
}
#M_sec1-3_top_font .Middle_section1-3_fontset:nth-child(2){
    margin-bottom: 30px;
}
#M_sec1-3_bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#M_sec1-3_bottom_left{
    width: 45%;
    height: 100%;
}
.M_sec1-3_bottom_left_imgset{
   width: 100%;
   margin-bottom: 5px;
}
#M_sec1-3_bottom_right{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 45%;
}
.M_sec1-3_bottom_right_imgset{
   width: 100%;
   margin-bottom: 5px;
}
#Middle_section1-3_cover{
   width: 100px;
}

.Middle_section1-3_title_fontset{
    font-size: 28px;
    font-family: 'Microsoft JhengHei';
    color: #624939;
    margin-bottom: 45px;
}
.Middle_section1-3_fontset{
    font-size: 1vw;
    font-family: 'Microsoft JhengHei';
    color: #624939;
}
@media(max-width:1420px){
    #Middle_section1-3{
        display: none;
    }
    #Middle_section1-3_1420{
        display: block;
    }
    #Middle_section1-3_container {
        padding: 50px 8.333333333vw;
    }
    #M_sec1-3_top {
        margin-bottom: 30px;
    }
    #M_sec1-3_top_font {
        width: 70%;
    }
    #M_sec1-3_top_img {
        width: 30%;
        margin-right: 20px;
    }
    .M_sec1-3_top_imgset {
        width: 100%;
    }
    .Middle_section1-3_title_fontset {
        font-size: 1.9vw;
        margin-bottom: 15px;
    }
    #M_sec1-3_top_font .Middle_section1-3_fontset:nth-child(2) {
        margin-bottom: 0px;
        margin-top: 10px;
    }
    #M_sec1-3_top_font .Middle_section1-3_fontset:nth-child(3) {
        margin: 12px 0;
    }
    .Middle_section1-3_fontset {
        font-size: 0.98vw;
    }
    #M_sec1-3_bottom_left {
        width: 40%;
    }
    #M_sec1-3_bottom_right {
        width: 56%;
    }
}
@media(max-width:920px){
    #Middle_section1-3_1420{
        display: none;
    }
    #Middle_section1-3_920{
        display: block;
    }
    #Middle_section1-3_container {
        padding: 50px 8.333333333vw;
        width: 100%;
        margin: auto;
    }
    #Middle_section1-3_title{
        width: 70%;
        margin: auto;
    }
    .Middle_section1-3_title_fontset{
        display: inline-block;
        width: 100%;
        position: relative;
        overflow: hidden;
        font-size: 28px;
    }
    .Middle_section1-3_fontset {
        font-size: 2vw;
    }
    .Middle_section1-3_cover{
        margin-bottom: 2.15vw;
    }
}
@media(max-width:420px){
    #M_sec1-3_top_font .Middle_section1-3_fontset:nth-child(2) {
         font-size: 2vw;
         overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}
