#Middle_section4 {
    width: 100%;
    background-image: url('../index_A_img/a01-12.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sec4cover {
    width: 100%;
    height: 100%;

    padding: 75px 8.333333333vw;
}

#Middle_section4_container {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 100px 8.333333333vw;

}

#M_sec4_left {
    width: 50%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.M_sec4_left_font1 {
    font-size: 28px;
    font-family: 'Microsoft JhengHei';
    color: #E66446;
}

.M_sec4_left_font1:nth-child(1) {
    position: relative;
    margin-bottom: 12px;
}

.M_sec4_left_font1:nth-child(1)::after {
    content: '__________________';
    position: absolute;
    top: 12px;
    left: 0;
}

.M_sec4_left_font1:nth-child(2) {
    margin-bottom: 2.5vw;
}

.M_sec4_left_font2:nth-child(3) {
    font-size: 1vw;
    font-family: 'Microsoft JhengHei';
    color: #636466;
    margin-bottom: 1vw;
}

.M_sec4_left_font2:nth-child(4) {
    display: flex;
    flex-direction: column;
    font-size: 1vw;
    font-family: 'Microsoft JhengHei';
    color: #636466;
}

#M_sec4_right {
    width: 50%;
    height: 100%;
    position: relative;
}

#sec4imgcover {
    width: 90%;
    height: 100%;
    margin: auto;
}

#sec4imgcover>img {
    width: 100%;
    height: auto;
}
@media(max-width:1420px){
    #Middle_section4_container {
        padding: 50px 8.333333333vw;
    }
    #M_sec4_left {
        padding: 0;
    }
    .M_sec4_left_font1 {
        font-size: 22px;
    }
    .M_sec4_left_font2:nth-child(3) {
        font-size: 1vw;
        margin-bottom: 1vw;
    }
    .M_sec4_left_font2:nth-child(4) {
        font-size: 1vw;
    }
    #sec4imgcover {
        width: 100%;
    }
}
@media(max-width:920px){
    #Middle_section4_container {
        flex-direction: column;
        width: 80%;
        margin: auto;
    }
    #M_sec4_left {
        width: 100%;
    }
    #M_sec4_right {
        margin-top: -50px;
        width: 100%;
        height: unset;
        position: static;
    }
    .M_sec4_left_font1:nth-child(1) {
        align-self: center;
    }
    .M_sec4_left_font1:nth-child(2) {
        align-self: center;
    }
    .M_sec4_left_font2:nth-child(3) {
        font-size: 2vw;
    }
    .M_sec4_left_font2:nth-child(4) {
        font-size: 2vw;
    }

}