#Middle_section1-2 {
    width: 100%;
    background-color: #92442C;
}
#Middle_section1-2_1420{
    width: 100%;
    background-color: #92442C;
    display: none;
}
#Middle_section1-2_920{
    width: 100%;
    background-color: #92442C;
    display: none;
}

#Middle_section1-2_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 70px 8.3333333vw;
}

#M_sec1-2_left {
    width: 50%;
}

.M_sec1-2_left_img {
    width: 100%;
    margin-bottom: 6px;
}

#M_sec1-2_right {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.M_sec1-2_right_topimage {
    width: 100%;
}

#M_sec1-2_right_bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 15px 0 25px 0;
}

#M_sec1-2_right_topfont {
    display: flex;
    justify-content: space-between;
}

#M_sec1-2_right_topfont_L {
    width: 25%;
}

#M_sec1-2_right_topfont_R {
    width: 60%;
}

#M_sec1-2_right_bottomfont {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 60%;
}

.M_sec1-2_title {
    position: relative;
    font-size: 28px;
    font-family: 'Microsoft JhengHei';
    color: #D0BCA5;
}

.M_sec1-2_title::after {
    position: absolute;
    content: '______________________________________________';
}

.M_sec1-2_fontset {
    font-size: 1vw;
    font-family: 'Microsoft JhengHei';
    color: #D0BCA5;
}

@media(max-width:1420px){
    #Middle_section1-2 {
        display: none;
    }
    #Middle_section1-2_1420{
        display: block;
    }
    #M_sec1-2_left {
        width: 40%;
    }
    #M_sec1-2_right {
        width: 55%;
    }
    #M_sec1-2_right_topfont_R {
        width: 100%;
        margin-top: 30px;
    }
    #M_sec1-2_right_topfont_L {
        width: 100%;
    }
    #M_sec1-2_right_bottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-grow: unset;
    }
    #M_sec1-2_right_bottomfont {
        width: 100%;
        margin-top: 70px;
    }
    .M_sec1-2_fontset {
        font-size: 1vw;
    }
}
@media(max-width:920px){
    #Middle_section1-2_1420{
        display: none;
    }
    #Middle_section1-2_920{
        display: block;
    }

    #M_sec1-2_left {
        width: 100%;
        margin-bottom: 5.4vw;
    }
    #Middle_section1-2_container {
        display: flex;
        flex-direction: column;
        justify-content: unset;
        width: 100%;
        padding: 50px 8.3333333vw;
        margin: auto;
    }
    #M_sec1-2_title_cover{
        width: 70%;
        margin: auto;
        margin-bottom: 30px;
      
    }
    .M_sec1-2_title {
        position: relative;
        font-size: 28px;
        width: 100%;
        margin:0 auto;
        overflow: hidden;
    }
    #Middle_section1-2_container>div{
        display: flex;
        justify-content: space-between;
    }
    #M_sec1-2_right_bottom {
        padding: 0;
    }
    #M_sec1-2_right_topfont_R {
        margin-top: 0px;
    }
    .M_sec1-2_fontset {
        font-size: 2vw;
        margin-bottom: 3.2vw;
    }
    #M_sec1-2_right {
        width: 100%;
    }
    #M_sec1-2_right_topfont {
        margin-bottom: 3.2vw;        
    }
    #M_sec1-2_right_bottomfont {
        margin-top: 0px;
    }
    .M_sec1-2_right_topimage {
        width: 80%;
        margin-bottom: 10px;
    }

}