#Middle_section3 {
    width: 100%;
    background-color: #EDEECC;
}
#Middle_section3_1420{
    width: 100%;
    background-color: #EDEECC;
    display: none;
}
#Middle_section3_920{
    width: 100%;
    background-color: #EDEECC;
    display: none;
}

#Middle_section3_container {
    width: 100%;
    padding: 70px 8.333333333vw;
    display: flex;
}

#M_sec3_left_font {
    width: 3%;
    font-size: 15px;
    font-family: 'Microsoft JhengHei';
    color: #636466;
    writing-mode: vertical-lr;
}

#M_sec3_center_img {
    width: 35%;
}

#M_sec3_center_img>img {
    width: 100%;
}
#M_sec3_right{
    width: 62%;

}
#M_sec3_righttop {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 30px;
}
#M_sec3_righttop_fontcover{
    width:65%;
}
.M_sec3_right_font1 {
    position: relative;
    overflow: hidden;
    font-size: 28px;
    font-family: 'Microsoft JhengHei';
    color: #636466;
    margin-bottom: 15px;
}
.M_sec3_right_font1::after {
    position: absolute;
    content: '_______________________';
}

#M_sec3_righttop_imgcover{
    width: 30%;
}

#M_sec3_righttop_imgcover>img{
    width: 100%;
}
#M_sec3_rightbottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 30px;
}
#M_sec3_rightbottom_fontcover{
    width: 65%;
}
#M_sec3_rightbottom_imgcover{
    width: 30%;
}
#M_sec3_rightbottom_imgcover>img{
    width: 100%;
}

.M_sec3_right_font2 {
    font-size: 1vw;
    font-family: 'Microsoft JhengHei';
    color: #636466;
    margin-bottom: 15px;
}
@media(max-width:1420px){
    #Middle_section3 {
        display: none;
    }
    #Middle_section3_1420{
        display: block;
    }
    #Middle_section3_container {
        flex-direction: column;
    }
    #M_sec3_left{
        width: 100%;
        display: flex;
    }
    #M_sec3_right{
        width: 100%;
        display: flex;
        margin-top: 30px;
    }
    #M_sec3_center_img {
        width: 50%;
        margin-right: 30px;
    }
    #M_sec3_top_rightcover{
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #M_sec3_left_font {
        width: 100%;
        writing-mode: unset;
        font-size: 2vw;
    }
    #M_sec3_righttop_imgcover {
        width: 15vw;
        font-size: 1vw;
        font-family: 'Microsoft JhengHei';
    }
    #M_sec3_rightbottom_imgcover {
        width: 15vw;
        font-size: 1vw;
        font-family: 'Microsoft JhengHei';
    }
    #M_sec3_righttop {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin-bottom: 0px;
        margin-right: 30px;
        padding-left: 0px;
    }
    #M_sec3_righttop_fontcover {
        width: 100%;
    }
    #M_sec3_rightbottom {
        justify-content: unset;
        width: 45%;
        padding-left: 0px;
    }
    #M_sec3_rightbottom_fontcover {
        width: 100%;
    }
    .M_sec3_right_font2 {
        font-size: 1vw;
        margin-bottom: 15px;
    }
}
@media(max-width:920px){
    #Middle_section3_1420{
        display: none;
    }
    #Middle_section3_920{
        display: block;
    }
    .M_sec3_right_font1 {
        width: 70%;
        margin: auto;
        margin-bottom: 30px;
    }
    #M_sec3_center_img {
        width: 50%;
        margin-right: 20px;
    }
    #M_sec3_left{
        margin-bottom: 20px;
    }
    #M_sec3_right {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    #M_sec3_righttop {
        width: 100%;
        margin-right: 0px;
    }
    #M_sec3_rightbottom {
        width: 100%;
        margin-top: 10px;
    }
    #M_sec3_top_rightcover {
        width: 100%;
        flex-direction: unset;
        margin-top: 10px;
    }
    #M_sec3_righttop_imgcover {
        width: 40%;
        font-size: 2vw;
    }
    #M_sec3_rightbottom_imgcover {
        width: 40%;
        font-size: 2vw;
    }
    .M_sec3_right_font2 {
        font-size: 2vw;
    }
}
@media(max-width:420px){
    #M_sec3_rightbottom {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
    }
}