#Middle_section1-1 {
    width: 100%;
    background-color: #505A49;
}
#Middle_section1-1_1420{
    display: none;
    background-color: #505A49;
}
#Middle_section1-1_920{
    display: none;
    background-color: #505A49;
}

#Middle_section1-1_container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 70px 8.33333333vw;
}

#Middle_section1-1_L {
    width: 55%;
    height: 100%;
}

#M_sec1-1_LT {
    width: 100%;
}

#M_sec1-1_LB {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: -15px;
}

#M_sec1-1_LB_L {
    width: 55%;
    align-self: flex-end;
}

#M_sec1-1_LB_R {
    width: 35%;
}

#Middle_section1-1_R {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 45%;
    padding-left: 70px;
}

#Middle_sec1-1_R_title {
    font-size: 28px;
    margin-bottom: 30px;
    color: #CC804D;
    position: relative;
    overflow: hidden;
}

#Middle_sec1-1_R_title span::after {
    position: absolute;
    content: '____________________________________';
}

#Middle_section1-1_R span:nth-child(2) {
    margin-bottom: 10%;
}

#Middle_section1-1_R span:nth-child(3) {
    margin-bottom: 15%;
}

#M_sec1-1_LTimg,
#M_sec1-1_LB_Limg,
#M_sec1-1_LB_Rimg {
    width: 100%;
}

.M_sec1-1_fontset {
    font-size: 1vw;
    font-family: 'Microsoft JhengHei';
    color: #CC804D;
}

@media(max-width:1420px){
    #Middle_section1-1 {
        display: none;
    }
    #Middle_section1-1_1420{
        display: block;
    }
    #Middle_section1-1_container {
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 70px 8.33333333vw;
    }
    #Middle_section1-1_L {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 17.6vw;
    }
    #M_sec1-1_LT {
        width: unset;
        height: 100%;
    }
    #M_sec1-1_LB_R {
        height: 100%;
        width: unset;
        display: flex;
        flex-direction: column;
    }

    #M_sec1-1_LB_Rimg {
        display: block;
        justify-content: flex-end;
    }

    #M_sec1-1_LTimg, #M_sec1-1_LB_Limg, #M_sec1-1_LB_Rimg {
        height: 100%;
        width: unset;
        display: block;
    }
    #Middle_section1-1_R {
        width: 100%;
        padding-left: 0px;
        margin-top: 3.5vw;
    }
    #M_sec1-1_LB {
        justify-content: space-between;
        margin-top: 0px;
        width: 100%;
    }
    #M_sec1-1_LB>div:nth-child(1){
        width: 70%;
        max-width: 35.7vw;
    }
    #M_sec1-1_LB_L {
        width: 30%;
        max-width: 13.3vw;
        align-self: unset;
    }
    #M_sec1-1_LB_Limg {
        height: unset;
        width: 100%;
        display: block;
    }
    #Middle_sec1-1_R_title {
        position: relative;
        font-size: 24px;
        font-family: 'Microsoft JhengHei';
        color: #CC804D;
        margin-bottom: 20px;
        overflow: hidden;
    }
    .M_sec1-1_fontset {
        font-size: 1vw;
    }
}
@media(max-width:920px){
    #Middle_section1-1_1420{
        display: none;
    }
    #Middle_section1-1_920{
        display: block;
        background-color: #505A49;
    }
    #Middle_section1-1_L {
        width: 80%;
        height: auto;
        margin: auto;
        justify-content: unset;
        flex-direction: column;
    }
    #Middle_section1-1_L div:nth-child(1){
        display: flex;
        flex-direction: column;
    }
    .M_sec1-1_fontset {
        font-size: 2vw;
        margin-bottom: 15px;
    }
    #M_sec1-1_LT {
        display: block;
        width: 100%;
        margin-bottom: 30px;
    }
    #Middle_sec1-1_R_title {
        font-size: 28px;
        width: 70%;
        margin: 0 auto 25px auto;
    }
    #M_sec1-1_LB {
        margin-bottom: 15px;
    }
    #M_sec1-1_LB_R {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    #M_sec1-1_LTimg,#M_sec1-1_LB_Rimg{
        width: 100%;
    }
    #M_sec1-1_cov{
        width: 100%;
        display: flex;
    }
    #M_sec1-1_LB_R{
        width: 40%;
        margin-right: 30px;
    }
    #M_sec1-1_LB_L {
        width: 40%;
        max-width: unset;
    }
}