@font-face {
    font-family: KozMinPro-Medium;
    src: url('../KozMinPro-Medium_font/KozMinPro-Medium.otf');
  }
#Middle_allsection {
    width: calc(80% - 70px);
    margin-left: 20%;
    background-color: #6F4F55;
}

#Middle_allsection_bg1 {
    position: relative;
    width: 100%;
    margin-top: -9vw;
    
}

#Middle-allsection_bg1>img {
    width: 100%;
}

#banner {
    width: 100%;
    height: 30vw;
    background-image: url('../index_A_img/banner.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#middle_flowercon {
    width: 3.125vw;
    position: absolute;
    top: 17vw;
    left: 29vw;
}

#middle_flowercon>img {
    width: 100%;
}

#middle_con {
    width: 27.1vw;
    position: absolute;
    right: 6.51vw;
    top: 5vw;
}

#middle_con_bg {
    position: relative;
    margin-bottom: 1.56vw;
}

#middle_con_bg>span {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.38vw;
    font-family: 'KozMinPro-Medium';
    color: white;
}

#middle_con>span {
    font-size: 1.46vw;
    font-family: 'KozMinPro-Medium';
    color: #698D76;
    line-height: 2.09vw;
}
@media(max-width:920px){
    #Middle_allsection {
        width: 100%;
        margin-left: 0;
        padding-top: 70px;
    }
    #banner {
        height: 40vw;
    }
}
@media(max-width:720px){
    #Middle_allsection {
        padding-top: 60px;
    }
}
@media(max-width:520px){
    #Middle_allsection {
        padding-top: 50px;
    }
}
@media(max-width:320px){
    #Middle_allsection {
        padding-top: 40px;
    }
}