@font-face {
    font-family: KozMinPro-Medium;
    src: url('../KozMinPro-Medium_font/KozMinPro-Medium.otf');
  }
#section2{
    width: calc(100% - 70px);
    background-image: url("../index_img/section01/s01-07.svg");
    padding: 130px 180px 120px 180px;
    position: relative;
}
#section2_920{
    display: none;
}
#container2{
    width: 100%;
    max-width: 1340px;
    max-height: 1020px;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
#section2_gobutton{
    width: 150px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    z-index: 3;
}
#section2_gobutton>a{
    display: block;
}
#section2_gobutton>a:hover{
    opacity: 0.5;
}
#section2_gobutton>a>img{
    display: block;
}
#container2_left{
   max-width: 780px;
    width: 58.2%;
    height: 100%;
    margin-right: 30px;
}
#container2_right{
    max-width: 560px;
    width: 41.8%;
    height: 100%;
}

#container2_image1{
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
    transition: 0.7s;
}
#container2_image1_set{
    width: 100%;
}

.container2_font1{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 40px 0 40px;
    font-size: 20px;
    font-family: 'KozMinPro-Medium';
    z-index: 1;
}

#container2_fontcon{
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}
.container2_font2:nth-child(1){
    margin-top: 25px;
    margin-left: 6.5vw;
    writing-mode: vertical-lr;
    font-size: 28px;
    font-family: 'KozMinPro-Medium';
}
.container2_font2:nth-child(2){
    margin-top: 25px;
    margin-right: 2vw;
    writing-mode: vertical-lr;
    font-size: 28px;
    font-family: 'KozMinPro-Medium';
}
#container2_title{
    width: 155px;
    height: 245px;
    zoom: 1;
    background-image: url('../index_img/section01/s01-04.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#container2_image2{
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
}
#container2_image2_set{
    width: 100%;
}

#container2_font3{
    width: 100%;
    font-size: 20px;
    font-family: 'KozMinPro-Medium';
}

#sec2_bg{
    position: absolute;
    background-image: url('../index_img/section01/s01-05.svg');
    background-repeat: no-repeat;
    background-position:right;
    right: 0;
    top: 325px;
    width: 665px;
    height: 970px;
    z-index: 2;
}

@media(max-width:1420px){
    #section2_920{
        display: none;
    }
    #section2{
        width: calc(100% - 70px);
        background-image: url("../index_img/section01/s01-07.svg");
        padding: unset;
        position: relative;
        padding: 130px 0 120px 0;
    }
    #container2{
        width: 100%;
        max-width: 80%;
        max-height: unset;
        margin: auto;
    }
    #container2_title{
        zoom: 0.8;
    }
    .container2_font2:nth-child(1){
        font-size: 20px;
    }
    .container2_font2:nth-child(2){
        font-size: 20px;
    }
    .container2_font1{
        margin-bottom: 10px;
        padding: 0 20px 0 20px;
        font-size: 20px;
        font-family: 'KozMinPro-Medium';
        z-index: 1;
    }
    #sec2_bg{
        width: 465px;
        height: 700px;
    }
}

@media(max-width:920px){
    #section2{
        display: none;  
    }
    #section2_920{
        width: 100%;
        padding: 6vw 0 15vw 0;
        display: block;
        position: relative;
        background-image: url('../index_img/section01/s01-07.svg');
    }
    
    #container2{
        width: 100%;
        max-width: 85%;
        max-height: unset;
        margin: auto;
        display: inherit;
    }
    #container2_title{
        zoom: 0.5;
    }
    #container2_image1{
        margin-bottom: 3.25vw;
    }
    #container2_A{
        display: flex;
    }
    #container2_AA{
        width: 70%;
    }
    #container2_fontcon{
        width: 30%;
        justify-content: center;
        margin-bottom: 3.25vw;
    }
    .container2_font2:nth-child(1){
        margin-left: 0;
        font-size: 15px;
    }
    .container2_font2:nth-child(2){
        margin-right: 0;
        font-size: 15px;
    }
    .container2_font1{
        font-size: 15px;
        padding: 0 10px 0 10px;
        line-height: 1.3;
    }
    #container2_font3{
        width: 52%;
        font-size: 15px;
        line-height: 1.3;
        font-family: 'KozMinPro-Medium';
    }
    #sec2_bg{
        right: 0;
        top: unset;
        width: 58%;
        height: 90vw;
    }
    #section2_gobutton{
        width: 15vw;
        left: 65%;
    }
}
@media(max-width:580px){
    #container2_font3 {
        width: 100%;
    }
    #section2_gobutton{
        width: 15vw;
        left: 50%;
    }
}
@media(max-width:420px){
    .container2_font1{
        font-size: 12px;
        line-height: 1.3;
    }
    .container2_font2:nth-child(1){
        font-size: 14px;
        line-height: 1.5;
    }
    .container2_font2:nth-child(2){
        font-size: 14px;
        line-height: 1.5;
    }
    #container2_image2 {
        margin-bottom: 2.7vw;
    }
    #container2_font3 {
        width: 100%;
        font-size: 12px;
        line-height: 1.5;
    }
}