@font-face {
    font-family: KozMinPro-Medium;
    src: url('../KozMinPro-Medium_font/KozMinPro-Medium.otf');
  }

#my_section{
    overflow: hidden;
    width: 100%;
    position: relative;
    z-index: 10;
    overflow-y: auto;
    display: none;
}

#section1{
    width: calc(100% - 70px);
    height: 100vh;
    background-color: cadetblue;
    display: flex;
    overflow: hidden;
}

#video{
    width: 100%;
    height: 100%;
    background-color: coral;
    overflow: hidden;
    position: relative;
}
#video_size{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%,-50%);
}
#section1_LOGO{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 360px;
}
#section1_fontcover{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 60px;
    left: 30px;
}
#section1_font1{
    font-size: 107px;
    font-family: 'KozMinPro-Medium';
    color: #FFFFFF;
    line-height: 1;
    margin-bottom: 10px;
}

@media(max-width: 1420px){
    #section1{
        height: 75vh;
    }

    #section1_fontcover{
        bottom: 30px;
        left: 30px;
    }
    #section1_font1{
        font-size: 90px;
    }
}
@media(max-width:920px){
    #section1{
        width: 100%;
        height: 60vh;
        padding-top: 70px;
    }
    #section1_LOGO{
        top: 20px;
        left: 20px;
        width: 40vw;
    }
    #section1_fontcover{
        bottom: 20px;
        left: 20px;
    }
    #section1_font1{
        font-size: 6.5vw;
    }
    svg{
        width: 43.47vw;
        height: auto;
    }

}
@media(max-width:720px){
    #section1{
        width: 100%;
        height: 50vh;
        padding-top: 60px;
    }
}
@media(max-width:520px){
    #section1{
        width: 100%;
        height: 40vh;
        padding-top: 50px;
    }
}
@media(max-width:320px){
    #section1{
        width: 100%;
        height: 30vh;
        padding-top: 40px;
    }
}