@font-face {
    font-family: KozMinPro-Medium;
    src: url('../KozMinPro-Medium_font/KozMinPro-Medium.otf');
  }
#section5{
    width: calc(100% - 70px);
    background-color: rgb(105, 75, 38);
    padding: 85px 0 85px 0;
    background-image: url('../index_img/section04/s04-01.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
#section5_920{
    display: none;
}
#container5{
    max-width: 1560px;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0 30px;
    position: relative;
    z-index: 2;
}
#container5_top{
    width: 100%;
    height: 135px;
    margin-bottom: 100px;
}

#container5_title{
    width: 260px;
    height: 135px;
    zoom: 1;
    margin: auto;
    background-image: url('../index_img/section04/s04-02.svg');
    background-repeat: no-repeat;
    background-position: center;
}

#container5_center{
    width: 100%;
    display: grid;
    grid-template-columns: 27.2% 27.2% 27.2%;
    justify-content: space-between;
}
#container5_center_A{
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}
#container5_center_B{
    width: 100%;
    display: flex;
}

.container5_font1{
    width: 100%;
    /* height: 55px; */
    font-size: 28px;
    font-family: 'KozMinPro-Medium';
    text-align: left;
    line-height: 1.5;
    color:#698D76;
}
.container5_img{
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}
.container5_img img{
    width: 100%;
    height: 100%;
}
/*------------------------------*/
.con5img_cover{
    width: 100%;
    height: 0%;
    background-color: gray;
    filter: alpha(opacity(25));
    opacity: 0.25;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    /* 自身高度 */
    z-index: 50;
    transition: 1s;
}
.container5_img img {
    transition: 1s;
}
.container5_img:hover .con5img_cover {
    height: 100%;
}

.container5_img:hover img {
    transform: scale(1.05);
}
/*------------------------------*/
.container5_font2{
    width: 100%;
    font-size: 23px;
    font-family: 'KozMinPro-Medium';
    color: #474747;
    line-height: 30px;
}
#container5_center_B{
    width: 100%;
    height: 380px;
}
#container5_bg{
    width: 225px;
    height: 135px;
    background-image: url('../index_img/section04/s04-06.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 80px;
    top: 50px;
}
#container5_bg1{
    width: 370px;
    height: 690px;
    background-image: url('../index_img/section04/s04-05.svg');
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    left: 0;
    top: -395px;
    z-index: 1;
}
#container5_bg2{
    width: 100%;
    height: 100px;
    background-image: url('../index_img/section04/s04-07.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: absolute;
    bottom: -75px;
    z-index: 1;
}

@media(max-width:1420px){
    #section5_920{
        display: none;
    }
    #section5{
        padding: 45px 0 85px 0;
    }
    #container5{
        max-width: 80%;
        width: 100%;
        padding: 0;
    }
    #container5_top{
        margin-bottom: 50px;
    }
    #container5_center{
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: space-between;
    }
    .con5_AA,.con5_BB{
        margin: 20px 3vw;
    }
}
@media(max-width:920px){
    #section5{
        display: none;
    }
    #section5_920{
        display: block;
        width: 100%;
        background-color: rgb(105, 75, 38);
        padding: 10.8vw 0 13vw 0;
        background-image: url('../index_img/section04/s04-01.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
    }
    #container5_bg1{
        width: 40vw;
        height: 75vw;
        top: -42.9vw;
    }
    #container5_bg2 {
        height: 70px;
        bottom: -55px;
    }
    #container5_top{
        zoom: 0.7;
        margin-bottom: 50px;
    }
    #container5{
        max-width: 90%;
        width: 100%;
        padding: 0;
    }
    #container5_center{
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
    }
    .con5_AA,.con5_BB{
        margin: 2.71vw 0;
    }
    .container5_img{
        width: 100%;
        margin-right: unset;
        margin-bottom: 20px;
    }
    .container5_fontcover{
        width: 70%;
    }

    .container5_img img{
        width: 100%;
        height: unset;
    }
    .container5_font1{
        font-size: 3.5vw;
        margin-bottom: 10px;
    }
    .container5_font2{
        font-size: 3vw;
        line-height: 1.5;
    }
}
@media(max-width:420px){
    #container5_top {
        zoom: 0.4;
        margin-bottom: 50px;
    }
    .container5_img {
        margin-bottom: 15px;
    }
}