@font-face {
    font-family: KozMinPro-Medium;
    src: url('../KozMinPro-Medium_font/KozMinPro-Medium.otf');
  }
#section3{
    width: calc(100% - 70px);
    padding: 55px 0 80px 0;
    position: relative;
    background-image: url('../index_img/section02/s02-10.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#container3{
    width: 90%;
    max-width: 1380px;
    height: 100%;
    margin: auto;
    position: relative;
    z-index: 2;
}
#container3_top{
    width: 100%;
    margin-bottom: 30px;
}
#container3_title{
    width: 255px;
    height: 135px;
    zoom: 1;
    margin-left: 495px;
    background-image: url('../index_img/section02/s02-01.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
}
#container3_center{
    width: 100%;
}
#container3_center1,#container3_center2,#container3_center3{
    width: 100%; 
    height: 370px;
    display: flex;
    justify-content: space-between;
}

.container3_center1_L{
    width: 50%;
    height: 100%;
    display: flex;
    position: relative;
}
.container3_center1_R{
    width: 50%;
    height: 100%;
    display: flex;
    position: relative;
}

#container3_center .imgcon img{
    width: 100%;
}

#square1,
#square2,
#square3,
#square4,
#square5,
#square6{
    width: 90px;
    height: 90px;
    margin-top: 25px;
}
.container3_font1{
    width: 250px;
    height: 50px;
    margin-top: 30px;
    margin-left: 45px;
    font-size: 28px;
}
.container3_font2{
    width: 250px;
    height: 50px;
    margin-top: 30px;
    margin-left: 45px;
    font-size: 22px;
}

#imgcon1,
#imgcon2,
#imgcon3,
#imgcon4,
#imgcon5,
#imgcon6{
    width: 323px;
    height: 323px;
}
#square1{background-image: url('../index_img/section02/s02-03.svg');background-repeat: no-repeat ;}
#square2{background-image: url('../index_img/section02/s02-04.svg');background-repeat: no-repeat ;}
#square3{background-image: url('../index_img/section02/s02-05.svg');background-repeat: no-repeat ;}
#square4{background-image: url('../index_img/section02/s02-06.svg');background-repeat: no-repeat ;}
#square5{background-image: url('../index_img/section02/s02-07.svg');background-repeat: no-repeat ;}
#square6{background-image: url('../index_img/section02/s02-08.svg');background-repeat: no-repeat ;}

#sec3_bg{
    position: absolute;
    background-image:url('../index_img/section02/s02-02.svg');
    background-repeat: no-repeat;
    background-position: top;
    width: 750px;
    height: 875px;
    top: -205px;
    left: 0;
}

#sec3_bg1{
    position: absolute;
    background-image:url('../index_img/section02/s02-11.svg');
    background-repeat: no-repeat;
    background-position: top;
    width: 225px;
    height: 225px;
    bottom: -112px;
    left: 95px;
    z-index: 2;
}
.sec3_fontset1{
    font-size: 28px;
    font-family: 'KozMinPro-Medium';
    color: #FFFFFF;
}
.sec3_fontset2{
    font-size: 22px;
    font-family: 'KozMinPro-Medium';
    color: #FFFFFF;
}

@media(max-width:1420px){
    #section3{
        padding: 100px 0 80px 0;
    }
    #container3{
        width: 90%;
        max-width: unset;
    }
    #container3_center1,#container3_center2,#container3_center3{
        height: unset;
        margin-bottom: 30px;
    }
    .container3_center1_L{
        width: 50%;
        margin-right: 50px;
        flex-direction: column;
        align-items: center;
    }
    .container3_center1_R{
        width: 50%;
        flex-direction: column;
        align-items: center;
    }

    .container3_confont{
        width: 325px;
        display: flex;
    }
    #square1,
    #square2,
    #square3,
    #square4,
    #square5,
    #square6{
        width: 90px;
        height: 90px;
        margin-top: 0;
    }
    .sec3_cover{
        width: 235px;
        margin-top: 45px;
        margin-left: 20px;
    }
    .container3_font1{
        width: unset;
        height: unset;
        margin-top: 0;
        margin-left: 0;
        font-size: 28px;
    }
    .container3_font2{
        width: unset;
        height: unset;
        margin-top: 0;
        margin-left: 0;
        font-size: 22px;
        line-height: 1.5;
    }
    #imgcon1,
    #imgcon2,
    #imgcon3,
    #imgcon4,
    #imgcon5,
    #imgcon6{
        width: 325px;
        height: 325px;
    }
    #sec3_bg{
        width: 550px;
        height: 675px;
    }
}
@media(max-width:920px){
    #section3{
        width: 100%;
        padding: 10.8vw 0 13vw 0;
    }
    #container3_title{
        zoom: 0.7;
        margin: auto;
    }
    #container3_center1,#container3_center2,#container3_center3{
        width: 100%; 
        height: unset;
        display: unset;
    }
    .container3_confont{
        width: 50%;
    }
    .container3_center1_L{
        width: 100%;
        margin-right: unset;
        margin-bottom: 20px;
        flex-direction: unset;
        align-items: unset;
        justify-content: center;
    }
    .container3_center1_R{
        width: 100%;
        margin-bottom: 20px;
        flex-direction: unset;
        align-items: unset;
        justify-content: center;
    }
    #imgcon1,
    #imgcon2,
    #imgcon3,
    #imgcon4,
    #imgcon5,
    #imgcon6{
        width: 50%;
        height: 100%;
    }
    .imgcon6_set{
        width: 100%;
    }
    .container3_font1{
        font-size: 3vw;
        line-height: 1;
        margin-bottom: 15px;
    }
    .container3_font2{
        font-size: 2.7vw;
        line-height: 1.2;
    }
    .sec3_fontset1{
        font-size: 3vw;
    }
    .sec3_fontset2{
        font-size: 2.7vw;
    }
    .sec3_cover{
        width: 235px;
        margin-top: 4.3vw;
        align-self: center;
        margin-left: unset;
    }
    #sec3_bg1{
        position: absolute;
        background-image:url('../index_img/section02/s02-11.svg');
        background-repeat: no-repeat;
        background-position: top;
        width: 24vw;
        height: 24vw;
        bottom: 0;
        left: 10%;
        transform: translateY(50%);
        z-index: 2;
        
    }
    #sec3_bg{
        position: absolute;
        background-image:url('../index_img/section02/s02-02.svg');
        background-repeat: no-repeat;
        background-position: top;
        width: 57.6vw;
        height: 68.4vw;
        top: -50px;
        left: 0;
    }
}
@media(max-width:920px){
    #container3_title {
        zoom: 0.4;
    }
}