@font-face {
    font-family: KozMinPro-Medium;
    src: url('../KozMinPro-Medium_font/KozMinPro-Medium.otf');
  }
#section6{
    width: calc(100% - 70px);
    padding: 120px 0 70px 0 ;
    position: relative;
    background-image: url('../index_img/section05/s05-01.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#container6{
    width: 100%;
    max-width: 1560px;
    margin: auto;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#container6_top{
    width: 100%;
    height: 175px;
    display: flex;
    margin-bottom: 85px;
}
#container6_title{
    width: 255px;
    height: 135px;
    zoom: 1;
    margin-left: 100px;
    margin-right: 125px;
    background-image: url('../index_img/section05/s05-04.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#container6_font1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    font-size: 23px;
    font-family: 'KozMinPro-Medium';
    color:#79AEAA;
}

#container6_swiper{
    width: 100%;
    padding: 0 95px;
    position: relative;
    margin-bottom: 65px;
}
.swiper-container{
    width: 100%;
}

.swiper-slide {
    margin-top: 125px;
}
.TT{
    width: 100%;
    height: 15px;
    background-image: url('../index_img/section05/s05-05.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin-bottom: 15px;
}
.container6_swiper_img{
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

.swiper-slide img{
    width: 100%;
    height: 100%;
}

.swiper-button-next1{
    width: 55px;
    height: 55px;
    position: absolute;
    right: 30px;
    top: 50%;
    z-index: 2;
    background-image: url('../index_img/section05/s05-10.svg');
}

.swiper-button-prev1{
    width: 55px;
    height: 55px;
    position: absolute;
    left: 30px;
    top: 50%;
    z-index: 2;
    background-image: url('../index_img/section05/s05-09.svg');
}
.container6_swiper_font1{
    background-color: #EC6D52;
    position: absolute;
    top: -90px;
    left: 70px;
    font-size: 23px;
    font-family: 'KozMinPro-Medium';
    writing-mode: vertical-lr;
    padding: 15px 10px;
    color: #FFFFFF;
}
.container6_price{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.container6_money{
    width: 290px;
    height: 100%;
    font-size: 50px;
    font-family: 'KozMinPro-Medium';
    line-height: 60px;
    color: #F1C49D;
}

#sec6more{
    width: 200px;
    height: 50px;
    zoom: 1;
    background-image:url('../index_img/section05/s05-03.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    padding: 0;
    display: block;
    background-color:transparent;/*去除按鈕預設背景*/
    border: 0;/*去除按鈕預設邊線*/
    /* 行內元素 img input 無法直接用marign 
       除非包個父層 OR 下display:block */
}
.sec6but{
    width:200px;
    height:50px;
    background-image:url('../index_img/section05/s05-12.svg');
    background-color:transparent;/*去除按鈕預設背景*/
    border: 0;/*去除按鈕預設邊線*/
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    align-self: center;
}
#sec6_bg1{
    width: 645px;
    height: 875px;
    background-image:url('../index_img/section05/s05-02.svg');
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    top: -80px;
    right: 0;
}

@media(max-width:1420px){
    #container6_top{
        margin-bottom: 35px;
    }
    #container6_title{
        height: 150px;
        margin-right: 100px;
    }
    .swiper-slide {
        margin-top: 130px;
    }
    #container6_font1{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        font-size: 15px;
        line-height: 2.5;
        font-family: 'KozMinPro-Medium';
        color:#79AEAA;
    }
    .container6_money{
        font-size: 30px;
    }
    .container6_swiper_img{
        margin-bottom: unset;
    }
    .swiper-button-next1{
        top: 57%;
        transform: translateY(-50%);
    }
    .swiper-button-prev1{
        top: 57%;
        transform: translateY(-50%);
    }
    .container6_swiper_font1{
        top: -150px;
        left: 50px;
        font-size: 2vw;
        padding: 15px 10px;
        line-height: 1;
    }
    #sec6_bg1{
        width: 545px;
        height: 675px;
    }
}
@media(max-width:920px){
    #section6{
        width: 100%;
        padding: 90px 0 13vw 0;
    }
    #container6{
        width: 100%;
        max-width: 90%;
        margin: auto;
        overflow: hidden;
        position: relative;
        z-index: 2;
    }
    #sec6_bg1{
        width: 70vw;
        height: 95vw;
        top: -8.69vw;
        right: 0;
    }
    #container6_top{
        height: unset;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    #container6_title{
        zoom: 0.65;
        margin-left: unset;
        margin-right: 3.26vw;
        align-self: center;
    }
    #container6_font1{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-self: center;
        text-align: left;
        font-size: 2.1vw;
        line-height: 1.4;
        font-family: 'KozMinPro-Medium';
        color:#dab8b8;
    }
    .swiper-slide {
        margin-top: 15.8vw;
    }
    #container6_swiper{
        padding: 0;
        margin-bottom: 30px;
    }
    .swiper-button-next1{
        top: 57%;
        width: 5.97vw;
        height: 5.97vw;
        right: 0;
    }
    .swiper-button-prev1{
        top: 57%;
        width: 5.97vw;
        height: 5.97vw;
        left: 0;
    }
    .container6_swiper_font1{
        top: -19.56vw;
        left: 10.86vw;
        font-size: 3.26vw;
        letter-spacing: 3px;
        padding: 1.63vw 1.08vw;
        line-height: 1;
    }
    .container6_swiper_img{
        margin-bottom: 20px;
    }

    .container6_price{
        width: 100%;
        height: 6.52vw;
    }
    .container6_money{
        align-self: center;
        width: 290px;
        height: 100%;
        font-size: 5.43vw;
        line-height: 1;
        color: #F1C49D;
    }
    .sec6but{
        padding: 0;
    }
    #sec6more{
        zoom: 0.75;
        padding: 0;
    }
}
@media(max-width:420px){

}