@font-face {
    font-family: KozMinPro-Medium;
    src: url('../KozMinPro-Medium_font/KozMinPro-Medium.otf');
  }

#middle-all-section {
    width: calc(80% - 70px);
    margin-left: 20%;
    background-color: #FEEEE3;
}


#banner {
    width: 100%;
    height: 30vw;
    background-image: url('../index_B_img/combo-page-img/banner.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#middle-all-section-bg {
    width: 100%;
    margin-top: -9vw;
    position: relative;
}

#middle-con {
    width: 27.1vw;
    position: absolute;
    right: 6.51vw;
    top: 5vw;
}

#middle-con-bg {
    position: relative;
    margin-bottom: 1.56vw;
    width: 100%;
    display: block;
}

#middle-con-bg>span {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.38vw;
    color: white;
    transition: 0.3s;
    letter-spacing: 0.52vw;
    text-align: center;
    line-height: 80px;
    margin-left: 7.5px;
    margin-top: -5px;
}


#middle-con-bg>span:nth-child(3) {
    display: none;
}

#middle-con>span {
    font-size: 1.46vw;
    color: #59534D;
    line-height: 2.09vw;
}

#middle-con-bg:hover span:nth-child(2) {
    display: none;
}

#middle-con-bg:hover span:nth-child(3) {
    display: block;
}

#middle-section {
    width: 100%;
    padding: 0 10.875vw;
}

.middle-section-container {
    width: 100%;
    margin-top: -9vh;

}
.middle-section-container_1420{
    display: none;
}
.middle-section-container_920{
    display: none;
}
.middle-section-container_420{
    display: none;
}
.card-content {
    display: flex;
    margin: auto;
    padding-top: 2vh;
    margin-bottom: 4.3vh;
    width: 100%;

}

.card-content-left {
    width: 15vw;
}

.left-top {
    margin-bottom: 2vh;

}

.left-top>img {
    width: 100%;
    box-shadow: 3px 3px 12px gray;
}

.left-bottom>img {
    width: 100%;
    box-shadow: 3px 3px 12px gray;
}

.card-content-middle {
    width: 20vw;
    margin-left: 1.6vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.middle-img {
    width: 100%;
}

.middle-text {
    width: 19vw;
}

.middle-text>h1 {
    margin: 2px 0;
}

.middle-text>p {
    font-size: 18px;

}

.middle-text>p:nth-child(5) {
    color: red;
}


.line-bottom {
    width: 100%;
    margin: 3px 0;
    border-bottom: solid black 1px;
    border-top: solid #0000 1px;
}

.card-content-right {
    margin-left: 2vw;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.right-text {
    width: 1px;
    font-size: 1.3vw;
    margin-top: 5vh;
    margin-right: 1vw;
    display: flex;
    flex-direction: row-reverse;
}

.right-text>p {
    margin: 0 4px;
}

.right-title {
    width: 3.2vw;
}

.right-title>img {
    width: 100%;
}
@media(max-width:1420px){
    #middle-section {
        width: 100%;
        padding: 0 5vw;
    }
    .middle-section-container {
        display: none;
    }
    .middle-section-container_1420{
        display: block;
    }
    .card-content-left {
        width: 20vw;
    }
    .card-content-middle {
        width: 40vw;
    }
    .card-content-right {
        width: 30vw;
        margin-left: 2vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-grow: unset;
    }
    .middle-text {
        width: 100%;
    }
    .right-text {
        width: 1.2px;
        font-size: 1vw;
        margin-top: 1vh;
        margin-right: 0;
        flex-direction: unset;
    }
    .card-content-right>div:nth-child(1){
        display: flex;
        justify-content: space-between;
    }
    .middle-text {
        width: 100%;
        font-size: 1.2vw;
    }
    .middle-text>p {
        font-size: 1.2vw;
    }
}
@media(max-width:920px){
    .middle-section-container_1420{
        display: none;
    }
    .middle-section-container_920{
        display: block;
    }
    #middle-all-section {
        width: 100%;
        margin-top: 70px;
        margin-left: 0;
    }
    #banner {
        height: 40vw;
    }
    #middle-all-section-bg {
        margin-top: -12vw;
    }
    #middle-con {
        top: 7.5vw;
    }
    #middle-con>span {
        font-size: 2vw;
        color: #59534D;
        line-height: 1.3;
    }
    #middle-con-bg>span {
        top: 55%;
        left: 48%;
    }
    .card-content-middle {
        width: 50vw;
        margin-left: 0;
        margin-right: 10px;
    }
    .card-content-left {
        display: flex;
        width: 100%;
        margin-top: 15px;
    }
    .card-content-right {
        width: 50vw;

    }
    .left-top {
        margin-bottom: 0;
        margin-right: 20px;
    }
    .left-bottom {
        margin-bottom: 0;
    }
    .right-text {
        font-size: 2.3vw;
    }
    .right-title {
        width: 8vw;
    }
    .right-text>p {
        margin: 0px 2px;
    }
    .middle-text {
        font-size: 2vw;
    }
    .middle-text>p {
        font-size: 2vw;
        line-height: 1.8;
    }
}
@media(max-width:420px){
    .middle-section-container_920{
        display: none;
    }
    .middle-section-container_420{
        display: block;
    }
    #middle-con {
        width: 35vw;
    }
    #middle-con-bg {
        margin-bottom: 0;
    }
    .card-content {
        flex-direction: column;
    }
    .card-content-middle {
        width: 100%;
        margin-bottom: 15px;
    }
    .card-content-right {
        width: 100%;
    }
    .card-content-right {
        margin-left: 0;
    }
    .card-content-right>div:nth-child(1) {
        display: flex;
        justify-content: space-between;
    }
    .right-text{
        width: 100%;
        font-size: 4vw;
        flex-direction: column;
    }
    .right-text>p {
        margin: 0;
    }
    #middle-con>span {
        display: block;
        font-size: 12px;
        color: #59534D;
        line-height: 1.3;
    }
}



    
/* -------------------- */
@media (max-width: 720px){
    #middle-all-section {
        margin-top: 60px;
        }
    }
@media (max-width: 520px){
    #middle-all-section {
        margin-top: 50px;
        }
    }
@media (max-width: 320px){
    #middle-all-section {
        margin-top: 40px;
        }
    }