@font-face {
    font-family: KozMinPro-Medium;
    src: url('../KozMinPro-Medium_font/KozMinPro-Medium.otf');
  }

#left {
    width: 20%;
    max-width: 384px;
    height: 100vh;
    position: fixed;
}

.left-content {
    width: 100%;
    height: 100%;
    background-image: url('../index_B_img/c01-25.svg');
    padding: 5% 5%;
}

.follow-us {
    font-size: 20px;
    writing-mode: vertical-rl;
    margin: 290px 0 20px 0;
}

.follow-us-2 {
    font-size: 20px;
    writing-mode: vertical-rl;
    margin: 0 0 20px 0;
}

.follow-icon-group {
    width: 20px;
}

.follow-icon {
    width: 20px;
    height: 20px;
    margin: 6px 0;
}

.follow-icon:nth-child(1) {
    background-image: url('../index_B_img/c01-06.svg');
}

.follow-icon:nth-child(2) {
    background-image: url('../index_B_img/c01-07.svg');
}

.follow-icon:nth-child(3) {
    background-image: url('../index_B_img/c01-08.svg');
}

.follow-icon:nth-child(4) {
    background-image: url('../index_B_img/c01-09.svg');
}

.booking-icon-box {
    width: 26%;
    height: 21.2%;
    margin-left: 33%;
    margin-top: 103px;
    transition: 0.3s;
    opacity: 1;
}

.booking-icon-box:hover {
    opacity: 0.5;
}
@media(max-width:920px){
    #left {
        display: none;
    }
}